@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Welcome to Dashboard";
}

<h1>@ViewData["Title"]</h1>

<h3>TempData Implementation:</h3>
<h4>Msg: @TempData["Msg"]</h4>
<p>@ViewData["Name"]</p>
<p>@ViewData["LoginTime"]</p>
@{
    foreach(var item in (List<String>)TempData["NumArr"])
    {
        <p>@item</p>
    }
}

