
@{
    ViewData["Title"] = "login";

    Layout = null; // Reset Layout Property to null

    if (((string)ViewData["UserRole"]).ToLower().Equals("admin"))  // ALWAYS TYPE CAST THE ViewData[key]
        Layout = "~/Views/Shared/_Dashboard.cshtml"; // overriding the layout in ViewStart.cshtml
    else
        Layout = "~/Views/Shared/_Dashboard.cshtml"; // currently having the same layout for simplicity - just for if else demonstration

}

<h1>login</h1>

<h3>ViewData and ViewBag Implemetation</h3>
<p>@ViewBag.data1</p>
<p>@ViewBag.data2</p>
<p>@((List<String>)ViewData["arr"])</p>   // using ViewBag as ViewData after type casting it manually

<h3>TempData Implementation:</h3>
<h4>Msg: @TempData["Msg"]</h4>
<p>@ViewData["Name"]</p>
<p>@ViewData["LoginTime"]</p>



@{
    foreach (var item in (List<String>)TempData["NumArr"])
    {
        <p>@item</p>
    }
}



