<!DOCTYPE html>
<html>
<head>
    <title>HomePage</title>
    <meta charset="utf-8" />
    <link href="~/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <h1>Home</h1>

        <div class="box">
            <div>@ViewBag.MyKey</div>
            <div>@ViewBag.RandomKey</div>
            <div>@ViewBag.MyAppClientId</div>
            <div>@ViewBag.MyAppClientSecret</div>
            <div>@ViewBag.MyAppProdEnv</div>
        </div>
    </div>
</body>
</html>