
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<a asp-controller="Student" asp-action="TagHelperFormDemo">Input new Data to the Database</a>
<br />

<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
        <th>Age</th>
    </tr>

        @{
            foreach(var stud in (List<StudentModel>)ViewData["StudentViewBag"])
            {
    <tr>
                <td>@stud.id</td>
                <td>@stud.name</td>
                <td>@stud.email</td>
                <td>@stud.age</td>
            </tr>
        }
    }
</table>
@{
    var studViewData = ViewData["StudentViewData"] as StudentModel; // require type casting
    var studViewBag = ViewBag.StudentViewBag; // DOESNT require type casting
    var studTempData = TempData["StudentTempData"];

    <p>@studViewData</p>
    <p>@studViewBag</p>
    <p>@studTempData</p>

}